<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>
                %d{HH:mm:ss.SSS} %highlight(%-5level){FATAL=bg_red, ERROR=bg_red, WARN=bg_yellow, INFO=bg_green, DEBUG=bg_blue, TRACE=bg_cyan} %cyan(%logger{36}) - %msg%n
            </pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
